<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <style>

      .header {
        background-color: #333; 
        padding: 10px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
      }
      .nav-left {
        justify-content: space-between;
        display: flex; 
        align-items: center;
      }
        .Home {
          align-items: center;
          width: 30px;
          height: 20px;
        }
          .Home img {
            width: 100%;
            height: 100%;
            object-fit:contain;
          }
          .Home:hover img {
            transform: scale(1.1);
          }
        .Search {
          color: white;   
          text-decoration: none;  
          padding: 5px 10px;  
          font-weight: 500;
          display: inline-flex;
          justify-content: flex-start;
        }
          .Search:hover {
            transform: scale(1.1);
          }
          .SearchIcon {
            margin-left: 10px;
          }
          .SearchText {
            margin-left: 20px;
          }

      .nav-right {
        justify-content: flex-end;
      }
        .Username {
          color: white;          
          text-decoration: none;  
          padding: 5px 10px;  
          font-weight: 500;
          margin-right: 20px;
        }
          .Username:hover {
            font-weight: bold;
          }
        .Register, .Settings {
          color: black;          
          background-color: lightgrey; 
          text-decoration: none;  
          padding: 5px 10px;  
          font-weight: 500;
          margin-right: 20px;
          transition: box-shadow 0.3s;
        }
          .Register:hover, .Settings:hover {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
          }
        .Login, .Logout{
          color: black;
          background-color: lightgreen;
          padding: 5px 10px;  
          font-weight: 500;
          transition: box-shadow 0.3s;
        }
          .Login:hover, .Logout:hover {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
          }

    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Uas" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <div class = "header">
      <div class = "nav-left">
        <a>
          <.link
          href = {~p"/"}
          class = "Home"
          >
          <img src = "/images/snorlax.jpg" alt = "Home Icon">
          </.link>
        </a>
        <a>
          <.link
          href = {~p"/profiles"}
          class = "Search"
          >
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class = "SearchIcon"
        >
          <circle cx="11" cy="11" r="8" />
          <line x1="21" y1="21" x2="16.65" y2="16.65" />
          </svg>
          <span class = "SearchText">Search</span>
          </.link>
        </a>
      </div>
      <div class = "nav-right">
        <%= if @current_user do %>
        <a>
          <.link
          href = {~p"/profiles/#{@current_user.username}"}
          class = "Username"
          >
          <%= @current_user.username %>
          </.link>
        </a>
        <a>
          <.link
            href={~p"/users/settings"}
            class = "Settings"
          >
            Settings
          </.link>
        </a>
        <a>
          <.link
            href={~p"/users/log_out"}
            class = "Logout"
            method="delete"
          >
            Log out
          </.link>
        </a>
        <% else %>
          <a>
            <.link
              href={~p"/users/register"}
              class="Register"
            >
              Register
            </.link>
          </a>
          <a>
            <.link
              href={~p"/users/log_in"}
              class="Login"
            >
              Log in
            </.link>
          </a>
        <% end %>
          </div>
      </div>

      

    <%= @inner_content %>
  </body>
</html>
